<?xml version="1.0"?>
<launch>
  <param name="countdown_seconds" value="10"/> 
  <node pkg="demonstrator_preprocessing" type="environmental_detection_front.py" name="environmental_detection_front" output="screen"/>
  <node pkg="demonstrator_preprocessing" type="environmental_detection_rear.py" name="environmental_detection_rear" output="screen"/>
</launch>
